# Environment
ENVIRONMENT=production

# Firebase
FIREBASE_CREDENTIALS_PATH=firebase_credentials.json

# Server
API_PORT=8000
MAX_FILE_SIZE=52428800

# CORS - Frontend URL
FRONTEND_URL=https://seu-frontend.vercel.app

# Deploy
RENDER_EXTERNAL_URL=https://seu-backend.onrender.com
